/*settings*/

:root {
	--kv: 8px;
	--color-grey: #cccccc;
	--transition: all .666s;
	--transition_s: all .333s;
	--transition_l: all 1.333s;
	--header: 63px;
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	display: none;
}

img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: auto;
	aspect-ratio: 4/5;
}

/*fonts*/

@font-face {
	font-family: 'Sometimes Times';
	src: url('fonts/sometimes_times.woff') format('woff');
}

h1,
h6,
p,
a,
span,
::before,
::after {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 10px;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: "Sometimes Times";
	font-size: 50px;
}

h6 {
	text-transform: uppercase;
	color: var(--color-grey);
}

a {
	display: block;
	cursor: pointer;
}

#front-page {
	position: relative;
}

/*header*/

header {
	display: flex;
	width: 100%;
	position: fixed;
	z-index: 9;
	bottom: 0;
	left: 0;
	align-items: end;
	padding: calc(var(--kv)*2) var(--kv) var(--kv);
	background-color: white;
}

header>* {
	flex: 1;
}

header>*:not(:first-child) {
	position: relative;
}

header h6 {
	position: absolute;
	bottom: 0;
	right: 100%;
	margin-right: var(--kv);
}

header>*:first-child h1 {
	position: absolute;
	left: 8px;
	bottom: 5px;
}

header a:hover {
	color: var(--color-grey);
}

.menus>* {
	width: fit-content;
}

#about {
	position: absolute;
	right: calc(var(--kv)*2);
	bottom: var(--kv);
	display: flex;
	align-items: center;
	gap: var(--kv);
}

#about a {
	text-transform: uppercase;
}

#switcher {
	position: relative;
	margin-right: var(--kv);
}

#switcher>* {
	width: 8px;
	height: 8px;
	background-color: black;
	border-radius: var(--kv);
}

#bright-mode {
	background-color: white;
	border: 1px solid black;
	position: absolute;
	width: 200%;
	z-index: -1;
}

/*gallery*/

#gallery {
	display: flex;
	overflow: scroll;
	padding: var(--kv) 0 calc(var(--kv)*2) var(--kv);
	height: calc(100vh - var(--header));
	position: relative;
}

#gallery img {
	width: auto;
	height: 100%;
}

.gallery-item {
	height: 50%;
	flex-shrink: 0;
	/* flex: 0 0 22.5vw; */
	transition: var(--transition);
	padding-right: var(--kv);
}

.gallery-item .media {
	height: 100%;
}

.gallery-item:hover {
	height: calc(75% - var(--kv));
}

#gallery img:not(.active) {
	display: none;
}

.caption,
.caption>* {
	display: flex;
}

.caption {
	margin-bottom: var(--kv);
	position: relative;
	pointer-events: none;
}

.caption>*:first-child::after {
	content: ".";
}

.media-index {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#gallery .media-index>* {
	margin-right: 6px;
}

.media-index>* {
	color: var(--color-grey);
}

.media-index>*.active {
	color: black;
}

/*archive*/

#archive {
	position: absolute;
	top: 0;
	left: 0;
	padding: var(--kv);
	background-color: rgba(255,255,255,.9);
	height: 100vh;
	overflow: scroll;
	transition: var(--transition);
	opacity: 0;
	pointer-events: none;
}

#archive.active {
	opacity: 1;
	pointer-events: auto;
}

#archive>* {
	display: flex;
	flex-wrap: wrap;
	transition: var(--transition);
}

#archive>*>* {
	flex: 0 1 calc(100%/3);
	padding-right: calc(100%/6);
	padding-bottom: calc(100%/12);
	transition: var(--transition);
}

#archive>*>*:nth-child(6n + 4),
#archive>*>*:nth-child(6n + 5),
#archive>*>*:nth-child(6n + 6) {
   padding-right: 0;
   padding-left: calc(100%/6);
}

#archive .media-index {
	position: relative;
	/* right: calc(100%/2); */
	transform: none;
	left: auto;
}

.menus a.active {
	color: var(--color-grey);
}

#archive .caption {
	position: sticky;
	top: 0;
	justify-content: space-between;
	padding-left: 0;
	padding-right: var(--kv);
	height: fit-content;
}

#archive>*.active>* {
	padding-right: calc(100%/4);
}

#archive>*.active>*:nth-child(6n + 4),
#archive>*.active>*:nth-child(6n + 5),
#archive>*.active>*:nth-child(6n + 6) {
   padding-right: 0;
   padding-left: calc(100%/4);
}

#archive>*.active .caption {
	padding-left: 0;
	padding-right: var(--kv);
}

/*responsive*/

@media (min-width: 768px) {

}

@media (max-width: 768px) {

	/*settings*/

	:root {
		--kv: 14px;
	}

	h1,
	h2,
	p,
	a,
	span,
	::before,
	::after {
		font-size: 12px;
	}

	img,
	video {
		width: 100% !important;
		padding: 0 !important;
	}

}